.viewPageMain {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .viewTools {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    top: 10px;
    left:20px;
    .el-button{
      margin: 3px;
    }
  }

  .viewBody {
    position: relative;
    .viewContent {
      width: 375px;
      height: 667px;
      border: 0;
      background-color: #fff;
    }
  }
}
